<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekose.sampleproject.infrastructure.rdb.mapper.SampleTableMapper">
    <resultMap id="sampleTableEntity" type="com.nekose.sampleproject.infrastructure.rdb.entity.SampleTableEntity">
        <id column="id" property="id" />

        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="deleted_flg" property="deletedFlg" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
        <association property="dataStatusInfo" javaType="com.nekose.sampleproject.domain.model.entity.DataStatusInfo" >
            <result column="data_status" property="status" />
            <result column="data_information" property="information" />
        </association>
    </resultMap>

    <sql id="sampleTableCommonColumn">
        name,
        value,
        data_status,
        data_information,
        deleted_flg,
        create_date,
        update_date,
        create_by,
        update_by,
        version
    </sql>

    <insert id="store"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.nekose.sampleproject.infrastructure.rdb.entity.SampleTableEntity">
        INSERT INTO sample_table (<include refid="sampleTableCommonColumn" />)
        VALUES (
                #{name},
                #{value},
                #{dataStatusInfo.status},
                #{dataStatusInfo.information},
                false,
                now(3),
                now(3),
                #{createBy},
                #{updateBy},
                1
        )
    </insert>

    <update id="update">
        UPDATE sample_table
        SET version = version + 1,
            update_date = now(3)
            <if test="name != null">
                ,name = #{name}
            </if>
            <if test="value != null">
                ,value = #{value}
            </if>
            <if test="dataStatusInfo.status != null">
                ,value = #{dataStatusInfo.status}
            </if>
            <if test="dataStatusInfo.information != null">
                ,value = #{dataStatusInfo.information}
            </if>
            <if test="deletedFlg != null">
                ,deleted_flg = #{deletedFlg}
            </if>
            <if test="updateBy != null">
                ,update_by = #{updateBy}
            </if>
        WHERE id = #{id}
        AND deleted_flg = false
    </update>

    <update id="delete" parameterType="long">
        UPDATE sample_table
        SET version = version + 1,
            update_date = now(3),
            deleted_flg = true
        WHERE id = #{id}
    </update>

    <delete id="physicalDelete" parameterType="long" >
        DELETE FROM sample_table WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="long" resultMap="sampleTableEntity" >
        SELECT
            id,
            <include refid="sampleTableCommonColumn" />
        FROM sample_table
        WHERE id = #{id}
    </select>

    <select id="findByValueAndDeletedFlg" resultMap="sampleTableEntity" >
        SELECT
        id,
        <include refid="sampleTableCommonColumn" />
        FROM sample_table
        WHERE 1 = 1
        <if test="value != null">
            ,value LIKE '${value}%'
        </if>
        <if test="deletedFlg != null">
            ,deleted_flg = #{deletedFlg}
        </if>
        ORDER name DESC
    </select>
</mapper>